<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport", content="width=device-width, initial-scale=1.0" />
        <title> Post </title>
    </head>
    <body>
        <header>
            <h1> Test </h1>
        </header>
        <form action="{{ url_for('post') }}", method="POST">
            <input type="text" placeholder="name of the article" name="article-name" /> <br><br>
            <textarea name="article-text" rows="10" cols="20"></textarea> <br>
            <input type="submit" value="Submit" /> <br>
        </form>
    </body>
</html>