html, body{
    background-color: #D9D9D9;
}

#list{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
}

#text, #text2{
    text-align: center;
}