button{
    display: block;
}

#text{
    text-align: center;
    width: 500px;
    overflow: hidden;
    margin: auto;
}

#hard{
    width: 300px;
    float:left; 
}

#hardnum{
    overflow: hidden;
}


