<!DOCTYPE html>
<html>
    <head>
        <title>To do app</title>
        <link rel="stylesheet" type="text/css" href="./static/stylesheets/styles.css" />
    </head>
    <body>
        <h1>Add To Do</h1>
        <main>
            <form action="/" method="POST">
                <input type="text" name="content" />
                <button type="submit">submit</button>
            </form>
        </main>
    </body>
</html>